asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==2.0.12
dj-database-url==2.3.0
Django==5.1.4
django-appconf==1.0.6
django-compressor==4.5.1
idna==3.10
Pillow==8.4.0
psycopg-binary==3.2.3
psycopg2-binary==2.9.10
python-decouple==3.8
pytz==2024.2
rcssmin==1.1.2
requests==2.26.0
rjsmin==1.2.2
setuptools==75.6.0
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==1.26.20
