{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="space-y-5">
	<div class="carousel relative container mx-auto" style="max-width:1600px;">
		<div class="carousel-inner relative overflow-hidden w-full">
			<input class="carousel-open hidden" type="radio" id="carousel-1" name="carousel" aria-hidden="true"
				hidden="" checked="checked">
			<div class="carousel-item absolute opacity-0" style="height:50vh;">
				<div class="h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right"
					style="background-image: url('https://images.unsplash.com/photo-1422190441165-ec2956dc9ecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');">
					<div class="container mx-auto">
						<div
							class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
							<p class="text-black text-2xl my-4">Stripy Zig Zag Jigsaw Pillow and Duvet Set</p>
							<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black"
								href="#">view product</a>
						</div>
					</div>
				</div>
			</div>
			<label for="carousel-3"
				class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
			<label for="carousel-2"
				class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

			<input class="carousel-open hidden" type="radio" id="carousel-2" name="carousel" aria-hidden="true"
				hidden="">
			<div class="carousel-item absolute opacity-0 bg-cover bg-right" style="height:50vh;">
				<div class="h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right"
					style="background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjM0MTM2fQ&auto=format&fit=crop&w=1600&q=80');">
					<div class="container mx-auto">
						<div
							class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
							<p class="text-black text-2xl my-4">Real Bamboo Wall Clock</p>
							<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black"
								href="#">view product</a>
						</div>
					</div>
				</div>
			</div>
			<label for="carousel-1"
				class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
			<label for="carousel-3"
				class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

			<input class="carousel-open hidden" type="radio" id="carousel-3" name="carousel" aria-hidden="true"
				hidden="">
			<div class="carousel-item absolute opacity-0" style="height:50vh;">
				<div class="h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-bottom"
					style="background-image: url('https://images.unsplash.com/photo-1519327232521-1ea2c736d34d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');">
					<div class="container mx-auto">
						<div
							class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide">
							<p class="text-black text-2xl my-4">Brown and blue hardbound book</p>
							<a class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black"
								href="#">view product</a>
						</div>
					</div>
				</div>
			</div>
			<label for="carousel-2"
				class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
			<label for="carousel-1"
				class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
		</div>
	</div>

	<div class="flex items-center justify-center max-w-6xl mx-auto py-5">
		<div class="text-center w-full px-10 mt-10 space-y-5">
			<div>
				<h1 class="text-gray-800 font-semibold text-3xl capitalize">Shop by category</h1>
				<p>Select a category to get started buing</p>
			</div>
			<div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-5">
				<div class="relative bg-[#f4f4f5] rounded-lg overflow-hidden">
					<div class="p-8">
						<div class="flex gap-x-4 justify-start items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="0.625" stroke-linecap="round"
								stroke-linejoin="round" class="lucide lucide-shirt">
								<path
									d="M20.38 3.46 16 2a4 4 0 0 1-8 0L3.62 3.46a2 2 0 0 0-1.34 2.23l.58 3.47a1 1 0 0 0 .99.84H6v10c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2V10h2.15a1 1 0 0 0 .99-.84l.58-3.47a2 2 0 0 0-1.34-2.23z" />
							</svg>
							<div class="flex-1 text-left">
								<h3 class="text-lg text-gray-900 font-bold">Clothes</h3>
								<p>939 Available</p>
							</div>
						</div>
					</div>
				</div>
				<div class="relative bg-[#f4f4f5] rounded-lg overflow-hidden">
					<div class="p-8">
						<div class="flex gap-x-4 justify-start items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="0.75" stroke-linecap="round"
								stroke-linejoin="round" class="lucide lucide-footprints">
								<path
									d="M4 16v-2.38C4 11.5 2.97 10.5 3 8c.03-2.72 1.49-6 4.5-6C9.37 2 10 3.8 10 5.5c0 3.11-2 5.66-2 8.68V16a2 2 0 1 1-4 0Z" />
								<path
									d="M20 20v-2.38c0-2.12 1.03-3.12 1-5.62-.03-2.72-1.49-6-4.5-6C14.63 6 14 7.8 14 9.5c0 3.11 2 5.66 2 8.68V20a2 2 0 1 0 4 0Z" />
								<path d="M16 17h4" />
								<path d="M4 13h4" />
							</svg>
							<div class="flex-1 text-left">
								<h3 class="text-lg text-gray-900 font-bold">Shoes</h3>
								<p>939 Available</p>
							</div>
						</div>
					</div>
				</div>
				<div class="relative bg-[#f4f4f5] rounded-lg overflow-hidden">
					<div class="p-8">
						<div class="flex gap-x-4 justify-start items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="0.75" stroke-linecap="round"
								stroke-linejoin="round" class="lucide lucide-briefcase">
								<path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16" />
								<rect width="20" height="14" x="2" y="6" rx="2" />
							</svg>
							<div class="flex-1 text-left">
								<h3 class="text-lg text-gray-900 font-bold">Bags</h3>
								<p>939 Available</p>
							</div>
						</div>
					</div>
				</div>
				<div class="relative bg-[#f4f4f5] rounded-lg overflow-hidden">
					<div class="p-8">
						<div class="flex gap-x-4 justify-start items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="0.75" stroke-linecap="round"
								stroke-linejoin="round" class="lucide lucide-watch">
								<circle cx="12" cy="12" r="6" />
								<polyline points="12 10 12 12 13 13" />
								<path d="m16.13 7.66-.81-4.05a2 2 0 0 0-2-1.61h-2.68a2 2 0 0 0-2 1.61l-.78 4.05" />
								<path d="m7.88 16.36.8 4a2 2 0 0 0 2 1.61h2.72a2 2 0 0 0 2-1.61l.81-4.05" />
							</svg>
							<div class="flex-1 text-left">
								<h3 class="text-lg text-gray-900 font-bold">Watches</h3>
								<p>939 Available</p>
							</div>
						</div>
					</div>
				</div>
				<div class="relative bg-[#f4f4f5] rounded-lg overflow-hidden">
					<div class="p-8">
						<div class="flex gap-x-4 justify-start items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="0.75" stroke-linecap="round"
								stroke-linejoin="round" class="lucide lucide-spray-can">
								<path d="M3 3h.01" />
								<path d="M7 5h.01" />
								<path d="M11 7h.01" />
								<path d="M3 7h.01" />
								<path d="M7 9h.01" />
								<path d="M3 11h.01" />
								<rect width="4" height="4" x="15" y="5" />
								<path d="m19 9 2 2v10c0 .6-.4 1-1 1h-6c-.6 0-1-.4-1-1V11l2-2" />
								<path d="m13 14 8-2" />
								<path d="m13 19 8-2" />
							</svg>
							<div class="flex-1 text-left">
								<h3 class="text-lg text-gray-900 font-bold">Spray</h3>
								<p>939 Available</p>
							</div>
						</div>
					</div>
				</div>
				<div class="relative bg-[#f4f4f5] rounded-lg overflow-hidden">
					<div class="p-8">
						<div class="flex gap-x-4 justify-start items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="0.75" stroke-linecap="round"
								stroke-linejoin="round" class="lucide lucide-cooking-pot">
								<path d="M2 12h20" />
								<path d="M20 12v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-8" />
								<path d="m4 8 16-4" />
								<path
									d="m8.86 6.78-.45-1.81a2 2 0 0 1 1.45-2.43l1.94-.48a2 2 0 0 1 2.43 1.46l.45 1.8" />
							</svg>
							<div class="flex-1 text-left">
								<h3 class="text-lg text-gray-900 font-bold">Bowls</h3>
								<p>939 Available</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="bg-white py-8">
		<section class="bg-gray-50 py-0 antialiased dark:bg-gray-900">
			<div class="mx-auto max-w-6xl px-4 py-5">
				<div id="store" class="w-full z-30 top-0 px-4 py-1">
					<div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-3">
						<a class="uppercase tracking-wide no-underline hover:no-underline font-semibold text-gray-800 text-sm"
							href="#">Recent Products
						</a>

						<div class="flex items-center" id="store-nav-content">
							<a class="pl-3 inline-block no-underline hover:text-black" href="#">
								<svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24"
									height="24" viewBox="0 0 24 24">
									<path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
								</svg>
							</a>
							<a class="pl-3 inline-block no-underline hover:text-black" href="#">
								<svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24"
									height="24" viewBox="0 0 24 24">
									<path
										d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z" />
								</svg>
							</a>
						</div>
					</div>
				</div>

				<div class="grid grid-cols-1 gap-4 mt-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 sm:mt-10">
					{% for product in products %}
					<div class="relative overflow-hidden bg-white border border-gray-200 rounded-xl group">
						<div class="absolute z-10 top-3 right-3">
							<button type="button"
								class="inline-flex items-center justify-center text-gray-400 hover:text-rose-500">

							</button>
						</div>
						<div class="relative">
							<a href="{{ product.get_url }}">
								<div class="aspect-w-1 aspect-h-1">
									<img class="object-cover w-full h-full p-4" src="{{ product.images.url }}" />
								</div>
								<div class="px-6 py-4">
									<p class="text-sm font-medium tracking-widest text-gray-500 uppercase">
										{{product.product_name }}</p>
									<h3 class="mt-2 text-sm font-semibold text-gray-900">
										<a href="{{ product.get_url }}" class="">{{ product.description }}
											<span class="absolute inset-0" hidden="true"></span>
										</a>
									</h3>
									<p class="text-sm font-medium text-gray-500 mt-1">Available In Stock (30)</p>
									<p class="mt-2 text-sm font-bold text-gray-900">GH₵ {{ product.price }}</p>
								</div>
							</a>
						</div>
						<div
							class="absolute inset-x-0 bottom-0 transition-all duration-200 translate-y-full group-hover:translate-y-0">
							<form action="{% url 'add_cart' product.id %}" method="POST">
								{% csrf_token %}
								<button
									class="flex items-center justify-center space-x-2 capitalize w-full px-4 py-2.5 text-sm font-bold text-white transition-all duration-200 bg-gray-900">
									<div>
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
											stroke-linecap="round" stroke-linejoin="round"
											class="lucide lucide-shopping-bag">
											<path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z" />
											<path d="M3 6h18" />
											<path d="M16 10a4 4 0 0 1-8 0" />
										</svg>
									</div>
									<p>Add to cart</p>
								</button>
							</form>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</div>
</div>

{% endblock %}